.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 2em; */
  /* padding: 3px; */
  padding-bottom: 25px;
  padding-top: 25px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  /* color: #d4e1fa; */
}
